extends layout

block content
	div.container
		h1.starter-template Hello #{user.name}
		h3 Showing #{entries.length} results out of #{JSON.stringify(total_count)}
		table.table.table-striped
			thead
				tr
					th Path
					th File name
					th Version # 
					th Created Date
					th Modified Date
					th Created By
			tbody
				for r in entries
					tr
						td= r.path_collection.entries[4].name
						td= r.name
						td= parseInt(r.etag) + 1 
						td= moment(r.created_at).format('MM/DD/YYYY')
						td= moment(r.modified_at).format('MM/DD/YYYY')
						td=r.created_by.name

		//p Full JSON #{JSON.stringify(entries)}